<!DOCTYPE html>
<html>
   <head>
      <title>{{ page.title }} </title>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <style>
         body{
            background-color: SteelBlue;
         }
      </style>
   </head>
   <body>
      <nav>
       <ul>
          <li><a href="/">Home</a></li>
          <li><a href= "/About">About</a></li>
          <li><a href= "/Resume">Resume</a></li>
          <li><a href= "/Projects">Projects</a></li>
      </ul>
      </nav>
      {{content}}
      <footer>
         <ul>
           <li><a href= "https://github.com/rnagurla" target= "_blank">GitHub</a></li>
           <li>rnagurla@purdue.edu</li>
           <li><a href= "https://www.linkedin.com/in/revanth-nagurla-22199b12a" target= "_blank">LinkedIn</a><li>
         </ul>
      </footer>
   </body>
</html>
